<h1>Update <%= @train.name()%></h1>
    <form action="/trains/<%= @train.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">

      <label for="name">Rename Train</label>
      <input type="text" name="name" id="name">

      <label for="city">Change Train City</label>
      <input type="text" name="city" id="city">

      <button type="submit">Update</button>
    </form>
    <p><a href="/trains">Return to Train List</a></p>

    <form action="/trains/<%= @train.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">

      <button type="submit">Delete Train</button>
    </form>
